@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Stalinist+One&display=swap');

body {
  margin: 0;
  background-color: #FFF5E1;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: '#319DA0'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}